.tile {
  display: inline-flex;
}

.grass {
  background-color: #42b842;
}
.chest {
  background-image: url('/tiles/chest.png');
  background-color: #42b842;
}
.rock {
  background-image: url('/tiles/rock.png');
  background-color: #42b842;
}

.tree {
  background-image: url('/tiles/tree.png');
  background-color: #42b842;
}
